.box ul {
  display: none;
}
ul.open {
  display: block;
}
.point {
  display: webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.fix {
  -webkit-box-shadow: 1px 5px 9px 1px rgba(194, 188, 188, 1);
  -moz-box-shadow: 1px 5px 9px 1px rgba(194, 188, 188, 1);
  box-shadow: 1px 5px 9px 1px rgba(194, 188, 188, 1);
}

.navbar {
  background-color: white;
  position: sticky;
  z-index: 999;
  top: 0;
  margin-bottom: 30px;
}

.blxk{
  color: rgba(128, 128, 128, 0.896);
}
#btn:hover{
    background-color: rgb(245, 222, 179);
} 

#btn:active{
  background-color: orange;
}